<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['День', 'Клики'],
            {% for key, val in data.data.all[0].metrics[0] %}
                {% set day = data.data.all[0].metrics[0]|length - 1 - key %}

                ['{{ 'now'|date()|date_modify("-" ~ day ~ " day")|date("d M") }}',  {{ val }}],
            {% endfor %}
        ]);

        var options = {
            title: 'Всего кликов: {{ data.totals[0][0] }}',
            // legend: {position: 'top', maxLines: 1},
            hAxis: {title: 'Дни',  titleTextStyle: {color: '#333'}},
            vAxis: {minValue: 0}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));

        chart.draw(data, options);
    }
</script>

<div id="chart_div" style="width: 100%; height: 500px;"></div>

{#{{ dump(data.data.all[0].metrics[0]) }}#}
